
.container{
    height: 95vh;
    width: 95vw;
    display: grid;
    justify-items: center;
    align-items: center;
}
.content{
 display: grid;
 grid-template-columns: 3,1fr;
 grid-template-rows: 3,1fr ;
 height: 80%;
 width: 95%;
 font-size: 13px;
 justify-content: center ;
 align-content: center;
 
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
 grid-template-areas: 
 "one one two"
 "three four two"
 "five six seven" ;

}
ul{
    padding-left: 10px;
}
li{
    list-style: none;
    display: inline; 
    padding: 10px;  
    
}

.div1{
    grid-area: one;
    padding: 2px;
    border-radius: 20px;
    

}
.div2{
    align-items: center;
    background-color: rgb(1, 1, 31);
    grid-area: two;
    padding: 2px;
    border-radius: 2px;
    justify-items: center;
   
}
.div3{
grid-area: three;
padding: 2px;
border-radius: 2px;
}
.div4{
grid-area: four;
border-radius: 2px;
padding: 2px;
justify-items: center;


}
.div5{
grid-area: five;
margin-top: 10px;

display: flex;
flex-direction: row;

}
h5{
    padding: 2px 5px;
}
.div4 button :hover{
    color: blue;
}
p{
    
}
.div6{
grid-area: six;
margin-top: 10px;

display: flex;
flex-direction: row;
}
.div7{

grid-area: seven;
margin-top: 10px;

display: flex;
flex-direction: row
}
.only{
    color: white;
}
.menu{
    justify-content: space-between;
   padding-right: 40px;
    display: flex;
    flex-direction: row;
    float: right;
    align-items: flex-end;
    padding-left:  30px;

}
img{
    
    border-radius: 2px;
    padding-right: 5px;
}
.layout1{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
button{
   padding: 15px 32px;
   background-color: brown;
}
.attribution{
   margin-top: 20px;
}
.menu ul li:hover{
    background-color: aqua;
}